* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

ul li {
    list-style-type: none;
    color:#fff;
}

.container {
    width:1280px;
    margin:0 auto;
    display: flex;

}

.side-menu {
    width:255px;
    height: 347px;
    margin-left:80px;
    background-color:#0E8784;

}

.plan-container {
    width:60%;
}

.title{
    display:flex;
}
.title h2 {
    font-size:24px;
}

.down-icon {
    display:none;
}
.show .down-icon {
    color:green;
    display:inline;
}
.show .up-icon {
    color:green;
    display:none;
}

.setgreycolor{
    color:#ccc;
}

.preferenc-container {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    /* background:pink;*/
} 

.preference {
    display:none;
}

.show .preference {
    display:block;
}



.preferenc-container .preference {
    width:228px;
    height:245px;
    padding:1rem;
    background-color:#F4F1EB;
    margin:0rem 0.5rem 3rem 0.5rem;
    position: relative;
    border-radius:10px;
    
}
.preference input {
    position: absolute;
    top:0;
    left:0;
}
.preference label {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    padding: 40px 28px 28px 28px;
    
}

.preference:hover {
    background-color: #FDD6BA ;
    color:#333;
}

.preference.active {
    background-color: #0E8784;
    color:#fff;
}

.preference .pre-header {
    font-size:24px;
    margin-bottom:0.5rem;
}

.preference .pref-txt{
    margin-top:40px;
   font-size:14px;
   line-height: 20px;
}

.plan-title {
    color:#83888F;
}

.summary-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.summary-container .summary {
    margin-top:3rem;
    background-color: #282F38;
    padding: 2rem;
    width:730px;
}

.summary-container .summary .summary-title {
    color:#fff;
    font-size: 1rem;
}
.summary-container .summary p {
    color:#fff;
}
.summary-container .summary .firstoption,.secondoption,.thirdoption,.fourthoption,.sixthoption  {
    color:#0E8784;
}




.orderplan {
    width:100%;
    display: flex;
    justify-content: flex-end;
    margin-top:1rem;
}

.orderplandisablebtn{
    background-color:#E2DEDB;
    color:#fff;

}

.orderplan .orderplanbtn {
    padding: 1rem;
}


