/*
================
Variables
================
*/
:root {
    --darkcyan: hsl(179,81%,29%);
    --darkgreyblue: hsl( 215, 19%, 25%);
    --paleorange: hsl(25,94%,86%);
    --lightcreambg: hsl(43,78%,98%);
    --grey: hsl(215,5%,54%);
    --sidenav :hsl(204,3%,69%);
    --sidenavnumber :hsl(120,1%,81%);
    --accordiontitle: hsl(215,5%,54%);
    --summarycontainer: hsl(214,17%,16%);
    --summarytitle: hsl(213,5%,100%);
 
    --lightblue :hsl(179,55%,61%);
    --lightgray: hsl(25,11%,87%);
    /*Font family*/
    --ff-primary: 'Fraunces', serif;
    --ff-secondary: 'Barlow', sans-serif;
}