/*
================
Fonts
================
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Fraunces:wght@900&display=swap');


/*
================
Variables
================
*/
:root {
    --darkcyan: hsl(179,81%,29%);
    --darkgreyblue: hsl( 215, 19%, 25%);
    --paleorange: hsl(25,94%,86%); 
    --lightcreambg: hsl(43,78%,98%); 
    --grey: hsl(215,5%,54%);
    --lightblue :hsl(179,55%,61%);
    --lightgray: hsl(25,11%,87%);
    /*Font family*/   
    --ff-primary: 'Fraunces', serif;
    --ff-secondary: 'Barlow', sans-serif;
}
/*
=============== 
Global Styles
===============
*/
html {
    scroll-behavior: smooth;
}

*, ::after,::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--ff-secondary);
    color: var(--darkgreyblue);
    font-size: 16px;
    line-height: 24px; 
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
 h1,
 h2,
 h3,
 h4 {
     font-family: var(--ff-primary)
 }

 h1 { font-size: 72px; line-height: 72px;}
 h2 { font-size: 40px; line-height: 48px;}
 h3 { font-size: 32px; line-height: 35px;}
 h4 { font-size: 24px; line-height: 32px; }

/*
================
animations
================
*/
 @keyframes active-menu {
    from {
      margin-right: -100%;
    }
    to {
      margin-right: 0%;
    }
  }

  @keyframes active-menu-l {
    from {
      margin-right: 0%;
    }
    to {
      margin-right: -100%;
    }
  }




/*
================
Global buttons
================
*/
.btn {
    background-color: var(--darkcyan);
    font-family: var(--ff-primary);
    color: var(--lightcreambg);
    display: inline-block;
    padding: 15px 80px;
    font-size: 18px;
    line-height: 25px;
    border: 0;
    border-radius: 5px;
   
}
.btn:hover {
    background-color: var(--lightblue);
    --transition: all 0.3s linear;
}

.btn-disabled {
    background-color:var(--lightgray); 
}

/*
================
Home page layout
================
*/
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 7%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
}
.navbar .navbar__text {
    padding:0rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--grey);
}

.navbar .navbar__text:hover {
    color:var(--darkgreyblue);
    cursor: hover;
}

.header .hamburger {
    display: none;
}
/*
================
Media queries
================
*/
@media (max-width:412px){
    .header .hamburger {display: block;}

    .header .navbar {
        width:100%;
        position:absolute;
        background-color: #000;
        top:100%;
        right:-100%;
        height: calc(100vh - 9.5rem);
        animation: 1s slide-left;
    }

    .header .navbar a {
        display:block;
        margin-top:1rem;
    }

    .header .navbar.active {
        right: 0;
    }

  
}
